html, body{
	font-family: 'Lato', sans-serif !important;
	margin:0;
}
.menu{
	text-align:center;
	background-color:#00B298;
	font-size:20px;
	color:#fff;
	a{ text-decoration:none; }
	a:visited{ color:inherit; }
	padding:10px 0;
}